<h1>お題詳細</h1>
<%= attachment_image_tag @theme, :image %>
<p>お題by:<%= @theme.user.name %></p>

<div>
<%= link_to "このお題を削除", admins_theme_path(@theme), method: :delete %>
</div>

<!--そのお題の回答一覧-->
  <%= render 'admins/answers/list', answers: @answers %>